input{
    font-family: "Arial, sans-serif";
    padding: 0px;
    height: 40px;
}
button{
    font-family: "Arial, sans-serif";
    padding: 10px;
    height: 40px;
    width: 150px;
}
fieldset{
    font-family: "Arial, sans-serif";
    height: 300px;
    width: 97%;
    padding: 10px;
}
.form{
    font-family: "Arial, sans-serif";
    margin: auto;
    width: 50%;
    border: 10px solid rgb(0, 187, 131);
    box-shadow: 8px 8px 5px #444;
    padding: 10px;
  }
.LStorage{
    font-family: "Arial, sans-serif";
    margin: auto;
    width: 50%;
    border: 10px solid rgb(211, 84, 84);
    box-shadow: 8px 8px 5px #444;
    padding: 10px;
  }

